.header{
	width:100%;
	height:80px;
	color:white;
	background-color:blue;
	text-align:-webkit-center;
}
.summaryTable{
	width:100%;
	padding:10px;
	display:none;
}
.btnToogleTasks{
	width:100%;
}
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 75%;
	height: 75%;
	padding: 16px;
	border: 2px solid blue;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.white_content_disabled {
	display: block;
	position: absolute;
	top: 10%;
	left: 10%;
	width: 75%;
	height: 75%;
	padding: 16px;
	border: 2px solid blue;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.userselectionStyle{
text-align: -webkit-center;
}